@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* Couleurs */
/* Box-shadow */
.footer {
  background: #323232;
  padding: 5px 25px 25px 25px;
}
.footer a {
  text-decoration: none;
  color: #fff;
}
.footer__logo {
  font-family: "Shrikhand";
  font-size: 20px;
  color: #fff;
}
.footer__sitemap {
  list-style: none;
  padding-left: 0;
}
.footer__sitemap li {
  margin-bottom: 5px;
}
.footer__sitemap li i {
  margin-right: 5px;
}
.footer__sitemap li .fa-hands-helping {
  font-size: 10px;
}

.img-restaurant {
  box-sizing: border-box;
  width: 100%;
  z-index: -1;
}
.img-restaurant img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.menu {
  padding: 0px 20px 18px;
  background: whitesmoke;
  border-radius: 38px 38px 0 0;
  margin-top: -50px;
  position: relative;
}
.menu__container {
  opacity: 0;
  animation: transition 1s forwards;
}
.menu__container__type {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 300;
}
.menu__container__type::after {
  display: block;
  left: 1px;
  content: "";
  width: 40px;
  margin-top: 5px;
  border: 2px solid #99e2d0;
}
.menu .apparition1 {
  animation-delay: 0.1s;
}
.menu .apparition2 {
  animation-delay: 0.5s;
}
.menu .apparition3 {
  animation-delay: 1s;
}
.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.menu__header__titre {
  margin-bottom: 30px;
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: lighter;
  margin: 30px 0 10px 0;
}
.menu__carte {
  background: #fff;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 16px;
  height: 50px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.menu__carte__desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__carte__desc__titre {
  margin: 0;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__carte__desc__sous-titre {
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__carte__prix {
  font-weight: bold;
  margin-bottom: 0;
  padding-left: 5px;
}
.menu__carte__choisir {
  height: 100%;
  width: 35px;
  background-color: #99e2d0;
  padding: 10px 10px 10px 10px;
  align-self: center;
  border-radius: 0 15px 15px 0;
  position: relative;
  right: -10px;
  display: none;
  align-items: center;
  justify-content: center;
}
.menu__carte__choisir .fas {
  color: white;
}
.menu__carte:hover .menu__carte__prix {
  position: absolute;
  right: 70px;
}
.menu__carte:hover .menu__carte__choisir {
  display: flex;
  margin-left: 40px;
  animation: glissement 1s;
}
.menu__carte:hover .menu__carte__choisir i {
  animation: rotation 1s;
}

header {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
header .fa-arrow-left {
  position: absolute;
  padding: 25px;
  color: black;
}
header img {
  max-width: 180px;
  display: block;
  margin: auto;
  padding: 20px 0 15px 0;
}

.action {
  display: grid;
  justify-content: center;
  margin: 40px 0px 55px;
}
.action__bouton {
  width: 220px;
  height: 50px;
  text-decoration: none;
  font-weight: 500;
  border-radius: 40px;
  background-color: #9356dc;
  background: linear-gradient(350deg, #9356dc, #ff79da);
  border: 0px;
  color: #fff;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
}

.container-coeur {
  margin: 10px;
}
.container-coeur .bi {
  width: 30px;
  height: 30px;
}
.container-coeur .remplissage {
  opacity: 0;
  overflow: visible;
}
.container-coeur:hover .remplissage {
  animation: remplissage 3s ease-in-out forwards;
}
.container-coeur:hover .contour {
  fill: white;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

#loader {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: linear-gradient(15deg, #9356dc, #ff79da);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Shrikhand";
  color: #fff;
  font-size: 35px;
  animation: loader 0.3s forwards;
  animation-delay: 1.5s;
}
#loader .cercle:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: tourner 1.2s infinite;
}

.explorer {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5%;
  justify-content: space-around;
}
.explorer p {
  font-weight: 300;
  font-size: 19px;
  margin: 0;
}
.explorer h1 {
  width: 80%;
  font-size: 25px;
}

.presentation h2 {
  margin: 40px 0 15px 20px;
}
.presentation__contenu {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}
.presentation__contenu :hover {
  background: #f6f6f6;
}
.presentation__contenu :hover span {
  background: #9356dc;
}
.presentation__contenu :hover i {
  color: #9356dc;
}
.presentation__element {
  display: flex;
  width: 85%;
  height: 28%;
  align-items: center;
  border-radius: 25px;
  background: #f6f6f6;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
}
.presentation__element__nombre {
  color: #fff;
  border-radius: 50%;
  background: #9356dc;
  font-size: 13px;
  padding: 3px 7px 3px 7px;
  left: 5%;
  position: absolute;
}
.presentation__element .fas {
  margin-right: 25px;
  margin-left: 35px;
  font-size: 18px;
  color: grey;
}
.presentation__element__texte {
  font-weight: 500;
}

.restaurant {
  background-color: #f6f6f6;
  width: 100%;
  padding-top: 30px;
}
.restaurant__titre {
  margin-left: 20px;
}
.restaurant__container {
  padding: 0 20px 20px 20px;
}
.restaurant__container .card {
  height: 270px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
}
.restaurant__container .card__img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.restaurant__container .card__box {
  box-sizing: border-box;
  height: 100%;
}
.restaurant__container .card .nouveau {
  position: absolute;
  right: 25px;
  border-radius: 3px;
  font-weight: 500;
  margin: 10px;
  background-color: #99e2d0;
  color: #139372;
  padding: 10px;
}
.restaurant__container .card__description {
  color: black;
  margin-top: -80px;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurant__container .card__description__restaurant__sous-titre {
  margin-top: 0;
  font-size: 18px;
  font-weight: 300;
}
.restaurant__container .card__description__restaurant__titre {
  margin: 0 0 5px 0;
  font-size: 20px;
}

header {
  display: flex;
  flex-direction: column;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  box-shadow: 0 0 4px grey;
  z-index: 1;
}
header .logo__img {
  max-width: 150px;
}
header .localisation {
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}
header .localisation__set {
  width: 40%;
  font-weight: bold;
  border: none;
  background-color: transparent;
  padding: 2%;
  text-align: center;
}
header .localisation__set:focus {
  outline: 2px solid black;
}

html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0%;
  width: 100%;
}

a {
  text-decoration: none;
  color: unset;
}

@keyframes remplissage {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tourner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes transition {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes glissement {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
/* DESKTOP VERSION */
@media only screen and (min-width: 1024px) {
  header .localisation__set {
    width: 17%;
  }

  .presentation__element__nombre {
    left: 7%;
  }
}

/*# sourceMappingURL=style.css.map */
