.action {
  display: grid;
  justify-content: center;
  margin: 40px 0px 55px;
  &__bouton {
    width: 220px;
    height: 50px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 40px;
    background-color: $primaire;
    background: linear-gradient(350deg, $primaire, $secondaire);
    border: 0px;
    color: $blanc;
    box-shadow: $ombre;
  }
}
