.container-coeur {
  margin: 10px;

  .bi {
    width: 30px;
    height: 30px;
  }

  .remplissage {
    opacity: 0;
    overflow: visible;
  }

  &:hover {
    .remplissage {
      animation: remplissage 3s ease-in-out forwards;
    }
    .contour {
      fill: white;
    }
  }
}

