#loader {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: linear-gradient(15deg, $primaire, $secondaire);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Shrikhand";
  color: $blanc;
  font-size: 35px;
  animation: loader 0.3s forwards;
  animation-delay: 1.5s;

  .cercle:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 6px solid $blanc;
    border-color: $blanc transparent $blanc transparent;
    animation: tourner 1.2s infinite;
  }
}
