.footer {
  background: rgb(50, 50, 50);
  padding: 5px 25px 25px 25px;

  a {
    text-decoration: none;
    color: $blanc;
  }

  &__logo {
    font-family: "Shrikhand";
    font-size: 20px;
    color: $blanc;
  }
  &__sitemap {
    list-style: none;
    padding-left: 0;
    li {
      margin-bottom: 5px;
      i {
        margin-right: 5px;
      }
      .fa-hands-helping {
        font-size: 10px;
      }
    }
  }
}
