header {
  width: 100%;
  height: 100%;
  background-color: $blanc;
  .fa-arrow-left {
    position: absolute;
    padding: 25px;
    color: black;
  }
  img {
    max-width: 180px;
    display: block;
    margin: auto;
    padding: 20px 0 15px 0;
  }
}
