.img-restaurant {
  box-sizing: border-box;
  width: 100%;
  z-index: -1;
  img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
}

.menu {
  padding: 0px 20px 18px;
  background: whitesmoke;
  border-radius: 38px 38px 0 0;
  margin-top: -50px;
  position: relative;

  &__container {
    opacity: 0;
    animation: transition 1s forwards;
    &__type {
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 300;

      &::after {
        display: block;
        left: 1px;
        content: "";
        width: 40px;
        margin-top: 5px;
        border: 2px solid $tertiaire;
      }
    }
  }

  .apparition1 {
    animation-delay: 0.1s;
  }

  .apparition2 {
    animation-delay: 0.5s;
  }

  .apparition3 {
    animation-delay: 1s;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    &__titre {
      margin-bottom: 30px;
      font-family: "Shrikhand", serif;
      font-size: 28px;
      font-weight: lighter;
      margin: 30px 0 10px 0;
    }
  }
  &__carte {
    background: $blanc;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 16px;
    height: 50px;
    box-shadow: $ombre;
    overflow: hidden;

    &__desc {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &__titre {
        margin: 0;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__sous-titre {
        margin-bottom: 0;
        margin-top: 10px;
        font-weight: 300;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &__prix {
      font-weight: bold;
      margin-bottom: 0;
      padding-left: 5px;
    }

    &__choisir {
      height: 100%;
      width: 35px;
      background-color: $tertiaire;
      padding: 10px 10px 10px 10px;
      align-self: center;
      border-radius: 0 15px 15px 0;
      position: relative;
      right: -10px;
      display: none;
      align-items: center;
      justify-content: center;

      .fas {
        color: white;
      }
    }
    &:hover {

      .menu__carte__prix{
        position: absolute;
        right: 70px;
      }

      .menu__carte__choisir {
        display: flex;
        margin-left: 40px;
        animation: glissement 1s;
        i {
          animation: rotation 1s;
        }
      }
    }
  }
}
