.explorer {
  background-color: $gris;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5%;
  justify-content: space-around;
  p {
    font-weight: 300;
    font-size: 19px;
    margin: 0;
  }
  h1 {
    width: 80%;
    font-size: 25px;
  }
}

.presentation {
  h2 {
    margin: 40px 0 15px 20px;
  }

  &__contenu {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;

    :hover {
      background: $gris;
      span{
        background: $primaire;
      }
      i {
        color: $primaire;
      }
    }
  }
  &__element {
    display: flex;
    width: 85%;
    height: 28%;
    align-items: center;
    border-radius: 25px;
    background: $gris;
    box-shadow: $ombre;

    &__nombre {
      color: $blanc;
      border-radius: 50%;
      background: $primaire;
      font-size: 13px;
      padding: 3px 7px 3px 7px;
      left: 5%;
      position: absolute;
    }

    .fas {
      margin-right: 25px;
      margin-left: 35px;
      font-size: 18px;
      color: grey;
    }

    &__texte {
      font-weight: 500;
    }
  }
}
