header {
  display: flex;
  flex-direction: column;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    box-shadow: 0 0 4px grey;
    z-index: 1;
    &__img {
      max-width: 150px;
    }
  }
  .localisation {
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    &__set {
      width: 40%;
      font-weight: bold;
      border: none;
      background-color: transparent;
      padding: 2%;
      text-align: center;
      &:focus{
        outline: 2px solid black;
      }
    }
  }
}
