.restaurant {
  background-color: $gris;
  width: 100%;
  padding-top: 30px;

  &__titre {
    margin-left: 20px;
  }

  &__container {
    padding: 0 20px 20px 20px;
    .card {
      height: 270px;
      background-color: $blanc;
      border-radius: 20px;
      margin-bottom: 20px;
      box-shadow: $ombre;

      &__img {
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 70%;
        object-fit: cover;
      }

      &__box {
        box-sizing: border-box;
        height: 100%;
      }

      .nouveau {
        position: absolute;
        right: 25px;
        border-radius: 3px;
        font-weight: 500;
        margin: 10px;
        background-color: $tertiaire;
        color: #139372;
        padding: 10px;
      }

      &__description {
        color: black;
        margin-top: -80px;
        padding: 10px 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__restaurant {
          &__sous-titre {
            margin-top: 0;
            font-size: 18px;
            font-weight: 300;
          }
          &__titre {
            margin: 0 0 5px 0;
            font-size: 20px;
          }
        }
      }
    }
  }
}
